build/*
*.pbxuser
*.mode1v3
*.mode2v3
*.swp
*~.nib
.svn
.DS_Store
profile
*.perspective
*.perspectivev3
project.xcworkspace/*
xcuserdata/*
*.xcworkspacedata
contents.xcworkspacedata
*.xcworkspace
*.xcuserdatad
*.xcscheme
xcschemes/*
